:root {
    --highlight: #ea3326;
    --light-grey: #f2f2f2;
    --medium-grey: #e8e8e8;
    --dark-grey: #a9a9a9;
    --text-black: #191919;
    --black: #000;
    --white: #fff;
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

/*Tags setting*/

body {
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3rem;

}

p {
    font-size: .8rem;
}


/* Common Classes */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center {
    text-align: center;
}

.btn {
    padding: 1rem;
    font-weight: 800;
    font-size: .8rem;
    background-color: var(--highlight);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 10px;
}

.container {
    margin: 0 16%;
    max-width: 68rem;
    padding-top: 2.5rem;
}

/*Primary section*/
#primary {
    width: 100%;
    min-height: 120vh;
    background: url(imgs/peter-fitzpatrick-a9OSGB0sJbs-unsplash.jpg) no-repeat;
    background-position: center top;
    background-size: 100% 83%;
    color: var(--white);
}

/*Header , navbar*/
.heading {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
}

.nav-bar ul {
    gap: 2.7rem;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover:not(.sign-up) {
    text-decoration: underline red;
    font-size: 1rem;
}

.sign-up {
    background-color: var(--highlight);
    border-radius: 7px;
    padding: .5rem .8rem;
}
.sign-up:hover{
    background-color: var(--white);
    color: var(--highlight);
}

.primary-title {
    margin: 12rem auto 2rem auto;
    font-size: 3.4rem;
    line-height: 1.4em;
    font-weight: 800;
}

.primary-title span {
    display: block;
}

/*Search bar*/

.search-bar {
    padding: 1.7rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.search-form {
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #000;
    
    
}

.search-form button{
    width: 26%;
    text-align: left;
    letter-spacing: .1rem;
}
.search-form button i{
    margin-left: .2rem;
}


label {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: .8rem;
    text-align: left;
}

label input {
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: .2rem;
    font-size: .7rem;
    text-align: left;
}





.info-features {
    margin-top: 9.5rem;
    justify-content: space-evenly;
    gap: 4em;
    background-color: var(--white);
    color: var(--black);
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: -1px 4px 9px 1px var(--medium-grey);
}

.info i{
    margin-bottom: 1rem;
    color: var(--highlight);
}

.info-title{
    margin-bottom: 1rem;
}

.info-details{
    font-size: .75em;
    line-height: 1rem;
}

/* Trending 2023 Section */
.trend-img {
    background-color: aqua;
}

.trend-title {
    grid-area: title;
}

.wishlist {
    grid-area: wishlist;
    text-align: right;
}

.trend-pricing {
    grid-area: pricing;
}

.rating {
    grid-area: rating;
    text-align: right;
}

.trend-features {
    grid-area: features;
}

.trending-cards {
    justify-content: space-evenly;
}

.trend-card {
    width: 30%;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 1em;

}

.trend {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
        "title  wishlist"
        "pricing  rating"
        "features  ."
    ;
}